@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,600");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  background: #26424B;
  color: #C6CECE; }

header {
  background: url(../img/bg_banner.jpg);
  background-size: cover;
  background-position: center 0;
  background-repeat: none;
  -webkit-box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.2); }
  header .filtro {
    background: rgba(0, 0, 0, 0.8); }
    header .filtro .contenedor_logo_menu {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      z-index: 100;
      position: fixed;
      transition: 0.5s; }
      header .filtro .contenedor_logo_menu .menu_bar {
        display: none; }
      header .filtro .contenedor_logo_menu .menu {
        text-align: center; }
        header .filtro .contenedor_logo_menu .menu li {
          list-style: none;
          display: inline-block;
          position: relative; }
          header .filtro .contenedor_logo_menu .menu li:hover {
            color: #C6CECE;
            background: rgba(255, 255, 255, 0.5);
            transition: 0.5s; }
            header .filtro .contenedor_logo_menu .menu li:hover .children {
              display: block; }
          header .filtro .contenedor_logo_menu .menu li .children {
            display: none;
            position: absolute;
            width: 150%;
            z-index: 100; }
            header .filtro .contenedor_logo_menu .menu li .children li {
              display: block;
              overflow: hidden;
              border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
          header .filtro .contenedor_logo_menu .menu li a {
            text-decoration: none;
            padding: 15px 30px;
            display: block;
            font-weight: 400;
            color: #FFF;
            font-size: 1.2em; }
        header .filtro .contenedor_logo_menu .menu .redes {
          display: none; }
    header .filtro .contenedor_logo_menu::before {
      position: absolute;
      filter: blur(100px);
      opacity: 1;
      z-index: -1; }
    header .filtro .textos {
      position: relative;
      color: #fff;
      text-align: center;
      padding: 120px 0 150px 0;
      margin: 0; }
      header .filtro .textos .logo {
        height: 300px;
        padding-bottom: 40px; }
      header .filtro .textos .primera_linea {
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
        letter-spacing: 5px; }
      header .filtro .textos .segunda_linea {
        font-weight: 300;
        font-size: 23px;
        line-height: 23px;
        margin-bottom: 60px;
        letter-spacing: 2px; }
      header .filtro .textos .contenedor-btns a {
        border-radius: 3px;
        border: 2px solid #FFF;
        color: #FFF;
        padding: 12px 0;
        font-weight: 600;
        width: 25%;
        display: inline-block;
        text-align: center;
        margin: 10px 20px; }
        header .filtro .textos .contenedor-btns a:hover {
          transition: 0.5s;
          text-decoration: none;
          background: #FFF;
          color: #4f4f4f; }

@media screen and (max-width: 990px) {
  header .filtro .textos {
    padding: 95px 0 75px 0; }
    header .filtro .textos .primera_linea {
      letter-spacing: 4px; }
    header .filtro .textos .contenedor-btns a {
      width: 70%; } }
@media screen and (max-width: 800px) {
  header .filtro .contenedor_logo_menu .menu_bar {
    right: 0;
    display: block;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    z-index: 101;
    transition: 0.5s; }
    header .filtro .contenedor_logo_menu .menu_bar span {
      float: right;
      font-size: 1.3em; }
    header .filtro .contenedor_logo_menu .menu_bar .bt-menu {
      text-decoration: none;
      display: block;
      padding: 20px;
      color: #FFF;
      overflow: hidden;
      font-size: 1.5em;
      font-weight: 400; }
  header .filtro .contenedor_logo_menu .menu {
    top: 76px;
    height: calc(100% - 76px);
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    right: 100%;
    margin: 0;
    overflow: scroll; }
    header .filtro .contenedor_logo_menu .menu li {
      display: block;
      border-bottom: 1px solid rgba(255, 255, 225, 0.2); }
      header .filtro .contenedor_logo_menu .menu li a {
        display: block; }
    header .filtro .contenedor_logo_menu .menu .redes {
      display: inline-block;
      margin: 0 10px;
      border-bottom: 1px solid rgba(255, 255, 225, 0.2); }
      header .filtro .contenedor_logo_menu .menu .redes a {
        display: inline-block;
        color: #FFF;
        font-size: 2em;
        padding: 0px 15px; }
  header .filtro .textos .primera_linea {
    margin-bottom: 20px; }
  header .filtro .textos .segunda_linea {
    margin-bottom: 20px; }
  header .filtro .textos .contenedor-btns a {
    width: 90%; } }
.main .caracteristicas {
  padding: 70px 0 35px 0; }
  .main .caracteristicas .titulo {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 35px; }
  .main .caracteristicas .caracteristica {
    text-align: center;
    padding: 15px; }
    .main .caracteristicas .caracteristica .individual img {
      width: 60%;
      vertical-align: top;
      margin-bottom: 30px; }
    .main .caracteristicas .caracteristica .individual .primera_linea {
      color: #FFF;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 20px; }
    .main .caracteristicas .caracteristica .individual .parrafo {
      font-weight: 400;
      font-size: 14px; }
.main .fotos {
  background: #243F47;
  padding: 35px 0 35px 0; }
  .main .fotos .foto .derecha {
    text-align: right; }
  .main .fotos .foto .titulo {
    padding-bottom: 30px;
    color: #FFF; }
  .main .fotos .foto .lista {
    margin-left: 20px; }
.main .clientes {
  background: #26424B;
  padding: 35px 0; }
  .main .clientes .titulo {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 35px; }
.main .precios {
  background: #243F47;
  padding: 30px 0; }
  .main .precios .titulo {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 35px; }
  .main .precios .plan {
    background: #F5F5F5;
    color: #000;
    text-align: center;
    font-weight: 300;
    -webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 15px; }
    .main .precios .plan .nombre {
      font-size: 1.5em;
      line-height: 1.5em;
      margin-bottom: 20px; }
    .main .precios .plan .precio {
      font-size: 1.7em;
      margin-bottom: 20px;
      font-weight: 400; }
    .main .precios .plan .caracteristicas {
      list-style: none;
      padding: 0 20px;
      margin-bottom: 20px;
      font-weight: 400; }
      .main .precios .plan .caracteristicas li {
        font-size: 1em;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .main .precios .plan .nota {
      color: rgba(0, 0, 0, 0.75); }
    .main .precios .plan .btn {
      text-decoration: none;
      width: 90%;
      padding: 10px 0;
      text-align: center;
      display: inline-block;
      border-radius: 5px;
      font-weight: 600; }
    .main .precios .plan.color1 {
      background: url(../img/bg/bg-card-1.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: none; }
      .main .precios .plan.color1 .filtro {
        padding: 50px 0;
        background-color: rgba(207, 219, 237, 0.9); }
        .main .precios .plan.color1 .filtro .nombre, .main .precios .plan.color1 .filtro .precio {
          color: #0087B2; }
        .main .precios .plan.color1 .filtro a {
          color: #0087B2;
          border: 2px solid #0087B2; }
          .main .precios .plan.color1 .filtro a:hover {
            color: #FFF;
            background: #0087B2;
            transition: 0.5s; }
    .main .precios .plan.color2 {
      background: url(../img/bg/bg-card-2.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: none; }
      .main .precios .plan.color2 .filtro {
        padding: 50px 0;
        background-color: rgba(207, 219, 237, 0.9); }
        .main .precios .plan.color2 .filtro .nombre, .main .precios .plan.color2 .filtro .precio {
          color: #E87B0C; }
        .main .precios .plan.color2 .filtro a {
          color: #E87B0C;
          border: 2px solid #E87B0C; }
          .main .precios .plan.color2 .filtro a:hover {
            color: #FFF;
            background: #E87B0C;
            transition: 0.5s; }
    .main .precios .plan.color3 {
      background: url(../img/bg/bg-card-3.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: none; }
      .main .precios .plan.color3 .filtro {
        padding: 50px 0;
        background-color: rgba(207, 219, 237, 0.9); }
        .main .precios .plan.color3 .filtro .nombre, .main .precios .plan.color3 .filtro .precio {
          color: #243F47; }
        .main .precios .plan.color3 .filtro a {
          color: #243F47;
          border: 2px solid #243F47; }
          .main .precios .plan.color3 .filtro a:hover {
            color: #FFF;
            background: #243F47;
            transition: 0.5s; }

footer {
  font-weight: 300; }
  footer .contacto .titulo {
    text-align: center;
    color: #FFF;
    font-weight: 400;
    font-size: 30px;
    margin: 35px 0 20px 0; }
  footer .contacto .btn {
    text-decoration: none;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    font-weight: 400;
    background: #0087B2;
    color: #FFF;
    margin-bottom: 10px; }
    footer .contacto .btn:hover {
      background: #FFF;
      color: #0087B2;
      transition: 0.5s; }
  footer .contacto .redes {
    text-align: center;
    font-size: 3em; }
    footer .contacto .redes a {
      color: #C6CECE; }
      footer .contacto .redes a:hover {
        transition: 0.5s;
        color: #F5F5F5; }
  footer .contacto .contactos {
    font-size: 1.3em;
    text-align: center;
    padding: 10px; }
    footer .contacto .contactos .email {
      margin-top: 10px;
      font-size: 1em; }
    footer .contacto .contactos a {
      text-decoration: none;
      color: #C6CECE;
      margin: 20px; }
      footer .contacto .contactos a:hover {
        transition: 0.5s;
        color: #F5F5F5; }
      footer .contacto .contactos a span {
        margin-right: 10px; }
  footer .contacto .img-logo {
    float: right;
    width: 100%;
    margin: 35px 0; }
  footer .footer {
    background: #242629;
    padding: 35px; }
    footer .footer .titulo {
      color: #FFF; }
    footer .footer .comunidades {
      text-align: right;
      color: #FFF; }
      footer .footer .comunidades ul {
        list-style: none;
        margin-bottom: 20px;
        font-weight: 400; }
        footer .footer .comunidades ul li a {
          text-decoration: none;
          color: #C6CECE; }
          footer .footer .comunidades ul li a:hover {
            transition: 0.3s;
            color: #FFF; }

@media screen and (max-width: 500px) {
  .main .fotos .orden {
    display: flex;
    flex-wrap: wrap; }
    .main .fotos .orden .texto-1 {
      order: 2; }
      .main .fotos .orden .texto-1 .derecha {
        text-align: left; }
    .main .fotos .orden .thumb {
      order: 1; }
  .main .fotos .titulo {
    font-size: 1.8em; }
  .main .fotos .parrafo .delete_responsive {
    display: none; }

  footer .contacto .redes {
    text-align: center;
    font-size: 2em; }
  footer .contacto .contactos .email {
    margin-top: 0px;
    font-size: 0.83em; }
    footer .contacto .contactos .email span {
      margin-right: 0; }
  footer .contacto .img-logo {
    display: none; }
  footer .footer .comunidades {
    text-align: center; }
  footer .footer .copy {
    text-align: center; } }

/*# sourceMappingURL=estilos.css.map */
