.main
	.caracteristicas
		padding: 70px 0 35px 0
		.titulo
			color: #FFF
			text-align: center
			font-weight: 400
			font-size: 30px
			margin-bottom: 70px
		.caracteristica
			text-align: center
			img
				width: 60%
				vertical-align: top
				margin-bottom: 30px
			.primera_linea
				color: #FFF
				font-weight: 600
				font-size: 25px
				margin-bottom: 20px
			.parrafo
				font-weight: 400
				font-size: 18px
	.fotos
		background: #243F47
		padding: 35px 0 35px 0
		.foto
			.derecha
				text-align: right
			.titulo
				padding-bottom: 30px
				color: #FFF
			.lista
				margin-left: 20px
	.clientes
		background: #26424B
		padding: 35px 0
		.titulo
			color: #FFF
			text-align: center
			font-weight: 400
			font-size: 30px
			margin-bottom: 35px
	.precios
		background: #243F47
		padding: 30px 0
		.titulo
			color: #FFF
			text-align: center
			font-weight: 400
			font-size: 30px
			margin-bottom: 35px
		.plan
			background: #F5F5F5
			color: #000
			text-align: center
			font-weight: 300
			-webkit-box-shadow: 0 0 15px 0 rgba(255,255,255,.5)
			box-shadow: 0 0 15px 0 rgba(255,255,255,.5)
			margin-bottom: 15px
			.nombre
				font-size: 1.5em
				line-height: 1.5em
				margin-bottom: 20px
			.precio
				font-size: 1.7em
				margin-bottom: 20px
				font-weight: 400
			.caracteristicas
				list-style: none
				padding: 0 20px
				margin-bottom: 20px
				font-weight: 400
				li
					font-size: 1em
					padding: 10px
					border-bottom: 1px solid rgba(0,0,0,.2)
			.nota
				color: rgba(0,0,0,.75)
			.btn
				text-decoration: none
				width: 90%
				padding: 10px 0
				text-align: center
				display: inline-block
				border-radius: 5px
				font-weight: 600
			&.color1
				background: url(../img/bg/bg-card-1.jpg)
				background-size: cover
				background-position: center center
				background-repeat: none
				.filtro
					padding: 50px 0
					background-color: rgba(207,219,237,.9)
					.nombre, .precio
						color: #0087B2
					a
						color: #0087B2
						border: 2px solid #0087B2
						&:hover
							color: #FFF
							background: #0087B2
							transition: .5s
			&.color2
				background: url(../img/bg/bg-card-2.jpg)
				background-size: cover
				background-position: center center
				background-repeat: none
				.filtro
					padding: 50px 0
					background-color: rgba(207,219,237,.9)
					.nombre, .precio
						color: #E87B0C
					a
						color: #E87B0C
						border: 2px solid #E87B0C
						&:hover
							color: #FFF
							background: #E87B0C
							transition: .5s
			&.color3
				background: url(../img/bg/bg-card-3.jpg)
				background-size: cover
				background-position: center center
				background-repeat: none
				.filtro
					padding: 50px 0
					background-color: rgba(207,219,237,.9)
					.nombre, .precio
						color: #243F47
					a
						color: #243F47
						border: 2px solid #243F47
						&:hover
							color: #FFF
							background: #243F47
							transition: .5s

footer
	font-weight: 300
	.contacto
		.titulo
			text-align: center
			color: #FFF
			font-weight: 400
			font-size: 30px
			margin: 35px 0 20px 0
		.btn
			text-decoration: none
			width: 100%
			padding: 5px 0
			text-align: center
			display: inline-block
			border-radius: 5px
			font-weight: 400
			background: #0087B2
			color: #FFF
			margin-bottom: 10px
			&:hover
				background: #FFF
				color: #0087B2
				transition: .5s
		.redes
			text-align: center
			font-size: 3em
			a
				color: #C6CECE
				&:hover
					transition: .5s
					color: #F5F5F5
		.contactos
			font-size: 1.3em
			text-align: center
			padding: 10px
			.email
				margin-top: 10px
				font-size: 1em
			a
				text-decoration: none
				color: #C6CECE
				margin: 20px
				&:hover
					transition: .5s
					color: #F5F5F5
				span
					margin-right: 10px
		.img-logo
			float: right
			width: 100%
			margin: 35px 0
	.footer
		background: #242629
		padding: 35px
		.titulo
			color: #FFF
		.comunidades
			text-align: right
			color: #FFF
			ul
				list-style: none
				margin-bottom: 20px
				font-weight: 400
				li
					a
						text-decoration: none
						color: #C6CECE
						&:hover
							transition: .3s
							color: #FFF


@media screen and (max-width: 500px)
	.main
		.fotos
			.orden
				display: flex
				flex-wrap: wrap
				.texto-1
					order: 2
					.derecha
						text-align: left
				.thumb
					order: 1
			.titulo
				font-size: 1.8em
			.parrafo
				.delete_responsive
					display: none

	footer
		.contacto
			.redes
				text-align: center
				font-size: 2em
			.contactos
				.email
					margin-top: 0px
					font-size: .83em
					span
						margin-right: 0
			.img-logo
				display: none
		.footer
			.comunidades
				text-align: center
			.copy
				text-align: center